/* css */
/* Spinner */
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 0.75s linear infinite;
  display: inline-block;
}
.loader.big {
  width: 100px;
  height: 100px;
  border-width: 10px;
  left: 50%;
  margin: 100px 0px 100px -50px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/************/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

table tr td img {
  max-height: 20px;
}

.nav-link {
  padding: 0;
}

.message_error {
  color: red;
}

.message_success {
  color: green;
}

#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #00b7ff;
  color: white;
}
