<!-- index.ejs -->
<% include _header %>
    <% include loader %>
        <!-- TODO: colocar aquí la información de la página Home -->
        <h1>Home page</h1>
        <h2>¡Bienvenido a Wallaclone!</h2>

        <% include _footer %>