<!-- index.ejs -->
<% include _header %>

  <h1>Bienvenido a Wallaclone!!</h1>
  <xmp theme="united" style="display:none;">
    <%- readme %>
  </xmp>


  <script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>

  <% include _footer %>